<h2>Cat Rental Request Form</h2>
<form action="/cats/<%= @cat.id %>/cat_rental_requests" method="post">
	<div>
		Cat Information!
		<br />
		Name: <%= @cat.name %>
		<br />
		Sex: <%= @cat.sex %>
		<br />
		Age: <%= @cat.age %>
		<br />
	</div>

	<div>
	  <label for="rental_begin_date">Rental Start Date</label>
	  <!-- click on the date will launch a date picker -->
	  <input name="cat_rental_request[begin_date]" id="rental_begin_date" type="date"></input>

		<br />
	  <label for="rental_end_date">Rental End Date</label>
	  <!-- click on the date will launch a date picker -->
	  <input name="cat_rental_request[end_date]" id="rental_end_date" type="date"></input>

		<br />

	  <input type="submit" value="Submit Rental Request!">
	</div>


</form>